@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-weight: 400;
    color: #1a1a1a;
}

h1,
h2,
h3,
h4 {
    margin: 16px 0;
    font-family: Arial;
}

textarea {
    padding: 16px;
    font-family: Arial;
    font-size: 14px;
}

.tickets-page {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: minmax(0px, 100vh);
    height: calc(100vh - 56px);
    max-height: calc(100vh - 56px);

    &.details {
        grid-template-columns: 1fr;
    }
}

.ticket-list-container {
    display: grid;
    overflow: auto;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    padding: 16px 0;
    gap: 16px;
}

.tickets-left-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content minmax(0px, 1fr);
    max-height: 100%;
    padding-right: 16px;
    padding-left: 16px;
}

.ticket-details-section {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    padding-right: 16px;
    padding-left: 16px;
    gap: 16px;

    h1 {
        margin-bottom: 0;
        padding-bottom: none;
    }

    textarea {
        min-height: 300px;
    }

    button.default {
        min-height: 32px;
        background-color: lightgrey;
    }
}

.loading-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    opacity: .8;
}

.tickets-header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content;
    padding: 16px 0;
    gap: 32px;
}

h1 {
    font-weight: 300;
    color: #2191dd;
}

$filter-accent: #2191dd;

.ticket-filters {
    display: flex;
    align-items: center;

    > div {
        display: flex;
        flex: 1 1 0;
        justify-content: center;
        align-items: center;
        padding: 8px;
        font-size: 12px;
        cursor: pointer;
        background-color: #d1edff;
    }

    > div.filter-active {
        color: white;
        background-color: $filter-accent;
    }
}

.app-toolbar {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: hsl(204deg 100% 27%);
}


.new-ticket-container {
    display: grid;
    grid-auto-rows: min-content 200px min-content;
    grid-template-columns: 1fr;
    padding: 16px;
    gap: 16px;
}

.ticket-list-item {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-areas: 'meta actions' 'description description';
    grid-template-columns: 1fr min-content;
    padding: 16px;
    border: 1px solid #7a7a7a;
    border-radius: 2px;
    gap: 16px;

    &:hover {
        transition: all .2;
        border-color: #2191dd;
    }
}

.ticket-meta {
    grid-area: meta;
}

.ticket-actions {
    display: grid;
    grid-area: actions;
    grid-template-columns: repeat(3, min-content);
    gap: 8px;
}

.ticket-description {
    grid-area: description;
}

.mat-snack-bar-container {
    color: rgb(156 11 45);
    background: #ffe5e5;
}

.mat-simple-snackbar-action {
    color: rgb(156 11 45);
}

.select-wrapper {
    min-width: 150px;
    padding: 8px;
    border: 1px solid #7a7a7a;
    border-radius: 2px;
}


.multi-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
